<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
            </ul>

            <ul class="right">
                <li><a href="" class="fb">Log Out</a></li>
            </ul>
        </nav>

        <div class="container">
            <form>
                <ul class="flex-outer">
                    <input type="te" id="username" placeholder="Enter your usename here">
                </ul>
            </form>
        </div>
    </div>
</body>

</html>