<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
            </ul>

            <ul class="right">
                <li><a href="" class="fb">Log Out</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="dash-header">
                <h1>Shopping List Dashboard</h1>
            </div>
            <form>
                <ul class="flex-outer">
                    <li class="flex-inner">
                        <input type="text" id="username" placeholder="Add new shopping list">
                        <button type="submit">Submit</button>
                    </li>
                </ul>
            </form>
            <div class="row">
                <div class="dash-table">
                    <h1>My Shopping Lists</h1>
                    <table class="table">
                        <tr>
                            <th>Shopping List Name</th>
                        </tr>
                        <tr>
                            <td>Shopping list 1</td>
                            <td class="edit-buttons"><button class="edit">Edit</button><button class="delete">Delete</button></td>
                        </tr>
                        <tr>
                            <td>Shopping list 2</td>
                            <td class="edit-buttons"><button class="edit">Edit</button><button class="delete">Delete</button></td>
                        </tr>
                        <tr>
                            <td>Shopping list 2</td>
                            <td class="edit-buttons"><button class="edit">Edit</button><button class="delete">Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>