<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
            </ul>

            <ul class="right">
                <li><a href="" class="fb">Register</a></li>
            </ul>
        </nav>

        <div class="form-container">
            
            <form>
                <ul class="flex-outer">
                    <h1>LOG IN</h1>
                    <li>
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Enter your email here">
                    </li>
                    <li>
                        <label for="phone">Password</label>
                        <input type="password" id="password" placeholder="Enter your phone here">
                    </li>
                    <li>
                        <button type="submit">Submit</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</body>

</html>