<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
            </ul>

            <ul class="right">
                <li><a href="" class="fb">Log Out</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="dash-header">
                <h1>Shopping List 1</h1>
            </div>
            <form>
                <ul class="flex-outer">
                    <li class="flex-inner">
                        <input type="text" id="username" placeholder="Add new item">
                        <button type="submit">Submit</button>
                    </li>
                </ul>
            </form>

            <div class="dash-table">
                <h1>Contents</h1>
                <table class="table">
                    <tr>
                        <th>Items in Shopping list</th>
                    </tr>
                    <tr>
                        <td>Item 1</td>
                        <td class="edit-buttons"><button class="buy">Mark as bought</button><button class="edit">Edit</button><button class="delete">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Item 2</td>
                        <td class="edit-buttons"><button class="buy">Mark as bought</button><button class="edit">Edit</button><button class="delete">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Item 3</td>
                        <td class="edit-buttons"><button class="buy">Mark as bought</button><button class="edit">Edit</button><button class="delete">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Item 4</td>
                        <td class="edit-buttons"><button class="buy">Mark as bought</button><button class="edit">Edit</button><button class="delete">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Item 5</td>
                        <td class="edit-buttons"><button class="buy">Mark as bought</button><button class="edit">Edit</button><button class="delete">Delete</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>