{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "authbase.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container">
    <div class="dash-header">
        <h1>Shopping List Dashboard</h1>
    </div>
    {{ wtf.quick_form(form) }}
    <div class="dash-table">
        <h1>My Shopping Lists</h1>
        <table class="table">
            <tr>
                <th>Shopping List Name</th>
            </tr>
            {% for shoppinglist in shoppinglists %}
                <tr>
                    <td><a href="{{ url_for('dashboard.view_shoppinglist', id=shoppinglist['id']) }}">{{ shoppinglist['name'] }}</a></td>
                    <td class="edit-buttons">
                        <button class="edit"><a href="{{ url_for('dashboard.shoppinglist_edit', sh_id=shoppinglist['id']) }}">Edit</a></button>
                        <button class="delete"><a href="{{ url_for('dashboard.delete_shoppinglist', sh_id=shoppinglist['id']) }}">Delete</a></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}