{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "authbase.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container">
    <div class="dash-header">
        <h1>Shopping list - {{ shoppinglist.name }}</h1>
    </div>
    {{ wtf.quick_form(form) }}
    <div class="dash-table">
        <h1>My Shopping Lists</h1>
        <table class="table">
            <tr>
                <th>Shopping List Name</th>
                <th>Quantity</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{% if item['bought'] %}<strike> {%  endif %}<a href="">{{ item['name'] }}</a>{% if item['bought'] %} </strike>{%  endif %}</td>
                    <td>{% if item['bought'] %}<strike> {%  endif %}<a href="">{{ item['quantity'] }}</a>{% if item['bought'] %} </strike>{%  endif %}</td>
                    <td class="edit-buttons">
                        {% if item['bought'] %}
                            Item Bought
                        {% else %}
                            <button><a href="{{ url_for('dashboard.buy_shoppingitem', id=shoppinglist['id'], si_id=item['id']) }}">Bought?</a></button>
                        {% endif %}
                        <button class="edit"><a href="{{ url_for('dashboard.edit_shoppingitem', id=shoppinglist['id'], si_id=item['id']) }}">Edit</a></button>
                        <button class="delete"><a href="{{ url_for('dashboard.delete_shoppingitem', id=shoppinglist['id'], si_id=item['id']) }}">Delete</a></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}