
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('landing_page.landing') }}">Shopping List app</a></li>
        </ul>
        <ul class="right">
            <li><a href="{{ url_for('auth.register') }}" class="fb">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}" class="fb">Login</a></li>
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
</body>

</html>
