<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Shopping List</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

    <header>
        <h1>Awesome Shopping List</h1>
        <h4>Register or Login to use the App</h4>
        <div>
            <button>Register</button>
            <button>Login</button>
        </div>
    </header>
    
</body>
</html>